@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#home {
background-color: #000a;
border-color: #555;
border-radius: 10px;
border-style: solid;
border-width: 1px;
box-shadow: 0 5px 5px #000a;
cursor: pointer;
fill: #fff;
height: 30px;
right: 1rem;
padding: 5px;
position: fixed;
bottom: 1rem;
width: 30px;
z-index: 99;
}

body {
    background-color: #222;
    color: #fff;
    font-family: "Roboto", sans-sefif;
}

h1 {
    margin: 3em 0 2em;
    text-align: center;
}

.faq-container {
    margin: 0 auto;
    max-width: 600px;
}

.faq {
    background-color: transparent;
    border: 1px solid #aaa;
    border-radius: 0.625em;
    margin: 1.25em 0;
    overflow: hidden;
    padding: 2em;
    position: relative;
    transition: 300ms ease;
}

.faq.active {
    background-color: #444;
    box-shadow: 0 3px 6px #0002,
                0 3px 6px #0002;
}
.faq.active::before,
.faq.active::after {
    color: #2e71cc;
    content: "\f075";
    font-family: "Font Awesome 6 free";
    font-size: 7em;
    left: 0.1em;
    opacity: 0.2;
    position: absolute;
    top: 0.1em;
    z-index: 0;
}
.faq.active::before {
    color: #2ecc71;
    left: -0.3em;
    top: -0.2em;
    transform: rotateY(180deg);
}

.faq-title {
    margin: 0 2em 0 0;
}

.faq-text {
    display: none;
    margin: 2em 0 0;
}

.faq.active .faq-text {
    display: block;
}

.faq-toggle {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: 1em;
    height: 2em;
    padding: 0;
    place-content: center;
    place-items: center;
    position: absolute;
    right: 2em;
    top: 2em;
    width: 2em;
}
.faq-toggle:focus {
    outline: none;
}

.faq-toggle .fa-times {
    display: none;
}

.faq.active .faq-toggle .fa-times {
    display: block;
}

.faq.active .faq-toggle .fa-chevron-down {
    display: none;
}

.faq.active .faq-toggle {
    background-color: #fff;
    border-radius: 50%;
    color: #444;
}
