@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#home {
    background-color: #000a;
    border-color: #555;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 5px 5px #000a;
    cursor: pointer;
    fill: #fff;
    height: 30px;
    right: 1rem;
    padding: 5px;
    position: fixed;
    bottom: 1rem;
    width: 30px;
    z-index: 99;
}

body {
    background-color: #efefbb;
    background: linear-gradient(to right, #d4d3dd, #efefbb);
    color: #000;
    display: flex;
    flex-direction: column;
    font-family: 'Ubuntu', sans-serif;
    place-content: center;
    place-items: center;
}

h1 {
  letter-spacing: 3px;
}

.poke-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1200px;
  place-content: center;
  place-items: space-between;
}

.pokemon {
  background-color: #eee;
  border-radius: 10px;
  box-shadow: 0 3px 15px #7777;
  margin: 10px;
  padding: 20px;
  text-align: center;
}

.pokemon .img-container {
  background-color: #fffa;
  border-radius: 50%;
  height: 120px;
  text-align: center;
  width: 120px;
}

.pokemon .img-container img {
  margin-top: 20px;
  max-width: 90%;
}

.pokemon .info {
  margin-top: 20px;
}

.pokemon .info .number {
  background-color: #0002;
  border-radius: 10px;
  font-size: 0.8em;
  padding: 5px 10px;
}

.pokemon .info .name {
  letter-spacing: 1px;
  margin: 15px 0 7px;
}
