
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#home {
    background-color: #000a;
    border-color: #555;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 5px 5px #000a;
    cursor: pointer;
    fill: #fff;
    height: 30px;
    right: 1rem;
    padding: 5px;
    position: fixed;
    bottom: 1rem;
    width: 30px;
    z-index: 99;
}

body {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    font-family: 'Ubuntu', sans-serif;
    height: 100vh;
    overflow: hidden;
    place-content: center;
    place-items: center;
}

.background {
  background-image: url("https://plus.unsplash.com/premium_photo-1728312031312-9304d4d44a97?q=80&w=1171&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-origin: content-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(20px);
  position: absolute;
  bottom: -50px;
  left: -50px;
  right: -50px;
  top: -50px;
  z-index: -1;
}
