@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(90deg, #222, #333);
    display: flex;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    overflow: hidden;
    place-content: center;
    place-items: center;
}

.search {
    height: 1em;
    position: relative;
}

.search .input {
    background-color: #fff;
    border: none;
    border-radius: 0.5em;
    font-size: 1em;
    height: 3em;
    padding: 1em;
    transition: width 0.3s ease;
    width: 3em;
}

.search.active .input {
    border-radius: 0.5em 0em 0em 0.5em;
    width: 200px;
}

.btn {
    background-color: #fff;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    font-size: 1em;
    height: 3em;
    left: 0;
    position: absolute;
    top: 0;
    transition: transform 0.3s ease;
    width: 3em;
}

.btn:focus,
.input:focus {
    outline: none;
}

.search.active .btn {
    border-radius: 0em 0.5em 0.5em 0em;
    transform: translateX(198px);
}