@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#home {
    background-color: #000a;
    border-color: #555;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 5px 5px #000a;
    cursor: pointer;
    fill: #fff;
    height: 30px;
    right: 1rem;
    padding: 5px;
    position: fixed;
    bottom: 1rem;
    width: 30px;
    z-index: 99;
}

body {
    background-color: #222;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    height: 100vh;
    overflow: hidden;
    padding: 2rem;
    text-align: center;
}

h3 {
    text-align: center;
}

small {
    display: block;
    margin-bottom: 20px;
    text-align: center;
}

.fa-heart {
    color: #f00;
}

.loveMe {
    background-image: url(https://images.unsplash.com/photo-1686426623640-1e8a75512a3b?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    box-shadow: 0px 14px 28px #0004,
                0px 10px 10px #0003;
    cursor: pointer;
    height: 420px;
    margin: 4.20rem auto 0;
    max-width: 100%;
    position: relative;
    width: 300px;
}

.loveMe .fa-heart {
    animation-duration: 600ms;
    animation-name: grow;
    animation-timing-function: linear;
    position: absolute;
    transform: translate(-50%, -50%) scale(0);
}

@keyframes grow {
    to {
        opacity: 0;
        transform: translate(-50%, -50%) scale(10);
    }
}
