@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#home {
    background-color: #000a;
    border-color: #555;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 5px 5px #000a;
    cursor: pointer;
    fill: #fff;
    height: 30px;
    right: 1rem;
    padding: 5px;
    position: fixed;
    bottom: 1rem;
    width: 30px;
    z-index: 99;
}

body {
    background-color: #333;
    color: #f5f5f5;
    display: flex;
    flex-direction: column;
    font-family: 'Ubuntu', sans-serif;
    height: 100vh;
    place-content: center;
    place-items: center;
}

h1 {
  color: #a8e4;
  font-size: 10rem;
  text-align: center;
}

form {
  box-shadow: 0 4px 10px #0003;
  margin-top: 2rem;
  max-width: 100%;
  width: 400px;
}

.input {
  background-color: #444;
  border: none;
  color: #ccc;
  /*display: block;*/
  font-size: 2rem;
  padding: 1rem 2rem;
  width: 100%;
}

.input:focus {
  background-color: #555;
  outline: none;
}

.input::placeholder {
  color: #666;
}

.todos {
  background-color: #444;
  list-style-type: none;
}

.todos li {
  border-top-color: #666;
  border-top-style: solid;
  border-top-width: 1px;
  color: inherit;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 1rem 2rem;
}

.todos li.completed {
  color: #666;
  text-decoration: line-through;
}

small {
  color: #666;
  margin-top: 3rem;
  text-align: center;
}
