@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#home {
    background-color: #000a;
    border-color: #555;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 5px 5px #000a;
    cursor: pointer;
    fill: #fff;
    height: 30px;
    right: 1rem;
    padding: 5px;
    position: fixed;
    bottom: 1rem;
    width: 30px;
    z-index: 99;
}

body {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    height: 100vh;
    overflow: hidden;
    place-content: center;
    place-items: center;
}

.container {
    display: flex;
    width: 90vw;
}

.panel {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover 100%;
    border-radius: 2em;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    height: 80vh;
    margin: 0.625em;
    position: relative;
    transition: flex 0.7s ease-in;
}

.panel h3 {
    bottom: 1.25em;
    font-size: 1.5em;
    position: absolute;
    left: 1.25em;
    opacity: 0;
}

.panel.active {
    flex: 5;
}

.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 480px) {
    .container {
        width: 100vw;
    }

    .panel:nth-of-type(4),
    .panel:nth-of-type(5) {
        display: none;
    }
}
