@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#home {
    background-color: #000a;
    border-color: #555;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 5px 5px #000a;
    cursor: pointer;
    fill: #fff;
    height: 30px;
    right: 1rem;
    padding: 5px;
    position: fixed;
    bottom: 1rem;
    width: 30px;
    z-index: 99;
}

body {
    background-color: #222;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    padding: 2rem;
    place-content: center;
    place-items: center;
}

img {
  height: 200px;
  object-fit: cover;
  width: 200px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 2rem auto 0;
  max-width: 768px;
  place-content: center;
}
