@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#home {
    background-color: #000a;
    border-color: #555;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 5px 5px #000a;
    cursor: pointer;
    fill: #fff;
    height: 30px;
    right: 1rem;
    padding: 5px;
    position: fixed;
    bottom: 1rem;
    width: 30px;
    z-index: 99;
}

body {
    background-color: #111;
    color: #fff;
    display: flex;
    height: 100vh;
    overflow: hidden;
    place-content: center;
    place-items: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 420px;
  place-content: center;
  place-items: center;
}

.square {
  background-color: #222;
  box-shadow: 0 0 2px #000;
  height: 1rem;
  margin: 2px;
  transition: 2s ease;
  width: 1rem;
}

.square:hover {
  transition-duration: 0s;
}
