@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#home {
background-color: #000a;
border-color: #555;
border-radius: 10px;
border-style: solid;
border-width: 1px;
box-shadow: 0 5px 5px #000a;
cursor: pointer;
fill: #fff;
height: 30px;
right: 1rem;
padding: 5px;
position: fixed;
bottom: 1rem;
width: 30px;
z-index: 99;
}

body {
    background-color: #333;
    color: #fff;
    display: flex;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    overflow: hidden;
    place-content: center;
    place-items: center;
    text-align: center;
}

.key {
    background-color: #444;
    border: 0.05em solid #fff;
    border-radius: 0.1em;
    box-shadow: 0.05em 0.05em 0.1em #0002;
    display: inline-flex;
    flex-direction: column;
    font-size: 1.25em;
    font-weight: 700;
    margin: 0.5em;
    min-width: 150px;
    padding: 1em;
    place-content: center;
    place-items: center;
    position: relative;
}

.key small {
    color: #999;
    font-size: 0.69em;
    position: absolute;
    top: -1.5em;
}
