@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#home {
    background-color: #000a;
    border-color: #555;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 5px 5px #000a;
    cursor: pointer;
    fill: #fff;
    height: 30px;
    right: 1rem;
    padding: 5px;
    position: fixed;
    bottom: 1rem;
    width: 30px;
    z-index: 99;
}

body {
    background-color: #333;
    display: flex;
    flex-direction: column;
    font-family: 'Ubuntu', sans-serif;
    height: 100vh;
    overflow: hidden;
    place-content: center;
    place-items: center;
}

.magic {
  background-color: #408000;
  border: none;
  border-radius: 3px;
  box-shadow: 0 3px #40800080;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  font-size: 1rem;
  letter-spacing: 1px;
  padding: 12px 20px;
  position: fixed;
  top: 20px;
  z-index: 99;
}

.magic:focus {
  outline: none;
}

.magic.active {
  box-shadow: none;
  transform: translateY(2px);
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  height: 500px;
  place-content: space-around;
  position: relative;
  width: 500px;
}

.boxes.big {
  height: 600px;
  width: 600px;
}

.boxes.big .box {
  transform: rotateZ(360deg);
}

.box {
  background-image: url("./pure.gif");
  background-repeat: no-repeat;
  background-size: 500px 500px;
  height: 125px;
  position: relative;
  transition: 300ms ease;
  width: 125px;

}

.box::after {
  content: "";
  background-color: #204000;
  height: 100%;
  position: absolute;
  right: -15px;
  top: 8px;
  transform: skewY(45deg);
  width: 15px;
}

.box::before {
  content: "";
  background-color: #204000;
  bottom: -15px;
  height: 15px;
  left: 8px;
  position: absolute;
  transform: skewX(45deg);
  width: 100%;
}
