@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#home {
  background-color: #000a;
  border-color: #555;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 5px 5px #000a;
  cursor: pointer;
  fill: #fff;
  height: 30px;
  right: 1rem;
  padding: 5px;
  position: fixed;
  bottom: 1rem;
  width: 30px;
  z-index: 99;
}

body {
  background-color: #1b1b78;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-family: 'Ubuntu', sans-serif;
  height: 100vh;
  overflow: hidden;
  place-content: center;
  place-items: center;
}

h2 {
  margin: 10px 0 20px;
  text-align: center;
}

.container {
  background-color: #03033b;
  box-shadow: 0px 2px 10px #fff3;
  max-width: 100%;
  padding: 20px;
  width: 350px;
}

.result-container {
  background-color: #0007;
  display: flex;
  font-size: 18px;
  height: 50px;
  letter-spacing: 1px;
  padding: 12px 10px;
  place-content: flex-start;
  place-items: center;
  position: relative;
  width: 100%;
}

.result-container #result {
  max-width: calc(100% - 40px);
  word-wrap: break-word;
}

.result-container .btn {
  font-size: 20px;
  height: 40px;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 40px;
}

.btn {
  background-color: #1b1b78;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 8px 12px;
}

.btn-large {
  display: block;
  width: 100%;
}

.setting {
  display: flex;
  margin: 15px 0;
  place-content: space-between;
  place-items: center;
}
