@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#home {
background-color: #000a;
border-color: #555;
border-radius: 10px;
border-style: solid;
border-width: 1px;
box-shadow: 0 5px 5px #000a;
cursor: pointer;
fill: #fff;
height: 30px;
right: 1rem;
padding: 5px;
position: fixed;
bottom: 1rem;
width: 30px;
z-index: 99;
}

body {
    background-color: #222;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    overflow: hidden;
    place-content: center;
    place-items: center;
    text-align: center;
}

.btn {
    background-color: #111;
    border: none;
    border-radius: 0.3em;
    color: #fff;
    cursor: pointer;
    font-family: inherit;
    font-size: 1em;
    margin: 1em;
    padding: 1.5em 3em;
}
.btn:focus {
    outline: none;
}
.btn:hover {
    opacity: 0.69;
}
