@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#home {
    background-color: #000a;
    border-color: #555;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 5px 5px #000a;
    cursor: pointer;
    fill: #fff;
    height: 30px;
    right: 1rem;
    padding: 5px;
    position: fixed;
    bottom: 1rem;
    width: 30px;
    z-index: 99;
}

body {
    background-color: #fef9f2;
    color: #111;
    display: flex;
    font-family: 'Ubuntu', sans-serif;
    height: 100vh;
    overflow: hidden;
    place-content: center;
    place-items: center;
}

.panel-container {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 10px #0005;
  display: flex;
  flex-direction: column;
  font-size: 90%;
  max-width: 400px;
  padding: 30px;
  place-content: center;
  place-items: center;
  text-align: center;
}

.panel-container strong {
  line-height: 20px;
}

.ratings-container {
  display: flex;
  margin: 20px 0;
}

.rating {
  cursor: pointer;
  flex: 1;
  margin: 10px 5px;
  padding: 20px;
}

.rating:hover,
.rating.active {
  border-radius: 4px;
  box-shadow: 0 0 10px #0002;
}

.rating img {
  width: 40px;
}

.rating small {
  color: #555;
  display: inline-block;
  margin: 10px 0 0;
}

.rating:hover small,
.rating.active small {
  color: #111;
}

.btn {
  background-color: #7c6a7a;
  border: none;
  border-radius: 4px;
  box-shadow: 0 0 10px #0002;
  color: #fff;
  cursor: pointer;
  padding: 12px 30px;
}

.btn:active {
  transform: scale(0.98);
}

.fa-heart {
  color: #827080;
  font-size: 30px;
  margin-bottom: 10px;
}
