@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#home {
background-color: #000a;
border-color: #555;
border-radius: 10px;
border-style: solid;
border-width: 1px;
box-shadow: 0 5px 5px #000a;
cursor: pointer;
fill: #fff;
height: 30px;
right: 1rem;
padding: 5px;
position: fixed;
bottom: 1rem;
width: 30px;
z-index: 99;
}

body {
    background-color: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    overflow: hidden;
    padding-inline: 1em;
    place-content: center;
    place-items: center;
}

.container {
    background-color: #333;
    border-radius: 0.625em;
    box-shadow: 0 0.625em 1.25em #0002,
                0 0.375em 0.375em #0002;
    max-width: 100%;
    padding: 3em 1.25em;
    text-align: center;
    width: 800px;
}

h3 {
    letter-spacing: 0.125em;
    opacity: 0.5;
}

.joke {
    font-size: 1.5em;
    letter-spacing: 0.2em;
    line-height: 1.5em;
    margin: 1.25em auto;
    max-width: 600px;
}

.btn {
    background-color: #2222;
    border: none;
    border-radius: 0.625em;
    box-shadow: 0 0.625em 1.25em #0002,
                0 0.375em 0.375em #0002;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    padding: 1em 2.5em;
}
.btn:active {
    transform: scale(0.98);
}
.btn:focus {
    outline: 0;
}
