@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --border-color: #144fc6;
    --fill-color: #6ab3f8;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #222;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    place-items: center;
}

h1 {
    margin: 0.625em 0 0;
}

h3 {
    margin: 0.625em 0;
}

.cup {
    background-color: #fff;
    border-color: var(--border-color);
    border-radius: 0 0 40px 40px;
    border-style: solid;
    border-width: 4px;
    color: var(--border-color);
    display: flex;
    flex-direction: column;
    height: 330px;
    margin-block: 30px;
    overflow: hidden;
    width: 150px;
}

.cup.cup-small {
    background-color: #fffe;
    border-radius: 0 0 15px 15px;
    cursor: pointer;
    font-size: 14px;
    height: 95px;
    margin: 5px;
    place-content: center;
    place-items: center;
    text-align: center;
    transition: 0.3s ease;
    width: 50px;
}

.cup.cup-small.full {
    background-color: var(--fill-color);
    color: #fff;
}

.cups {
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    place-items: center;
    width: 280px;
}

.remained {
    display: flex;
    flex: 1;
    flex-direction: column;
    place-content: center;
    place-items: center;
    text-align: center;
    transition: 300ms ease;
}

.remained span {
    font-size: 20px;
}

.remained small {
    font-size: 12px;
}

.percentage {
    background-color: var(--fill-color);
    display: flex;
    font-size: 30px;
    height: 0;
    place-content: center;
    place-items: center;
    transition: 300ms ease;
}

.text {
    margin: 0 0 5px;
    text-align: center;
}