@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#home {
    background-color: #000a;
    border-color: #555;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 5px 5px #000a;
    cursor: pointer;
    fill: #fff;
    height: 30px;
    right: 1rem;
    padding: 5px;
    position: fixed;
    bottom: 1rem;
    width: 30px;
    z-index: 99;
}

body {
    background-color: #333;
    color: #fff;
    display: flex;
    font-family: 'Ubuntu', sans-serif;
    height: 100vh;
    overflow: hidden;
    place-content: center;
    place-items: center;
}

.container {
  background-color: #222;
  border-color: #000;
  border-radius: 10px;
  border-style: solid;
  border-width: 3px;
  max-width: 1000px;
  padding: 30px;
  text-align: center;
}

.code-container {
  margin: 40px 0;
}

.code {
  border-color: #666;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  font-size: 60px;
  font-weight: 400;
  height: 100px;
  text-align: center;
  max-width: 80px;

  -moz-appearance: textfield;
  appearance: textfield;
}

.code::-webkit-outer-spin-button,
.code::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.code:valid {
  border-color: #34db98;
  box-shadow: 0 10px 10px -5px #000;
}

.info {
  background-color: #444;
  border-radius: 3px;
  color: #888;
  display: inline-block;
  max-width: 420px;
  padding: 10px;
}

@media(max-width: 600px) {
  .code {
    font-size: 50px;
    height: 70px;
    max-width: 60px;
  }
}
